:root {

    --fs-sm: 16px;

    /* color */

    --color-white: #fff;
    --color-gray: #808080;
    --color-blue: #128DFF;
    --color-black: #000;
}

.color-white {
    color: var(--color-white);
}

.color-gray {
    color: var(--color-gray);
}

.bg-white {
    background-color: var(--color-white);
}

.color-blue {
    color: var(--color-blue);
}

.color-black {
    color: var(--color-black);
}
.fs{
    font-size: var(--fs-sm);
}